<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD STUDENTS</title>
  </head>
  <body>


    <h1>Add New Student</h1>

    <%if(error){%>
    <h4 style="color: red"><%=error.message%></h4>
    <%}%>
          <form class="form" action="/students/addStudent>" method="post">
            <div class="col-xs-8 col-md-10">
              <br> First Name:<br>
                <input type="text" name="first_name" value="" placeholder="first name">
                <br> Last Name:<br>
                <input type="text" name="last_name" value="" placeholder="last name">
                <br> email:<br>
                <input type="text" name="email" value="" placeholder="email">
                <br>
                <input type="submit" class="btn" value="submit">
  </body>
</html>
